html,
body {
  height: 100%;
 
  background-color: rgb(204, 144, 70);
}


#parentSection {

 
margin: 5% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;

}

#press {
  gap: 1rem;
  display: flex;
  align-content: space-between;
}

#timeUpX{
  text-align: center;
  background-color: red;
  color: aliceblue;
}

#PressL,
#PressS {
  /* display: flex;  */
  position: relative;
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(223, 223, 223);
  align-items: center;
  flex-direction: column;
}
#countL,
#countS {
 
  font-size:24 ;
  /* display: flex; */
  color: rgb(233, 12, 12);
  align-items: center;
  /* z-index: 10; */
  font-weight: bold;
 
}

#timeUp{
  color: red;
}

#timeUpR, #timeUpNotPressed{
  color: red;
background-color: white;
}

#timeUpNotPressed{
  background-color: red;
  color: white;
}

#inputNumber{
  margin: 1rem 0;
}
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }

  #parentSection {


      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: cadetblue;
      border-radius: 100%;
    
    }
}